body{
    overflow-x: hidden;
}
.smi {
    height: 30px;
    width: 30px;
    /* border:1px solid; */
    border-radius: 50%;
    text-align: center;
}

.dotted {
    border-bottom: 2px dotted maroon;
}

.text-maroon {
    color: maroon;
}

.btn-maroon {
    background-color: maroon;
    color: white;
}

.btn-maroon:hover {
    background-color: maroon;
    color: white;
}

.bg-maroon {
    background-color: maroon;
}

.marq marquee a {
    text-decoration: none;
    color: maroon;
}

.dash-border {
    border: 2px dashed maroon;
}

.heading::after {
    content: '';
    height: 5px;
    width: 50px;
    background-color: green;
    position: absolute;
    margin-top: 45px;
    left: 50%;
}

.heading::before {
    content: '';
    height: 3px;
    width: 110px;
    background-color: lightgrey;
    position: absolute;
    margin-top: 46px;
    left: 48%;
}

.pm {
    height: 320px;
    background: linear-gradient(90deg, rgba(150, 0, 0, 0.9), rgba(150, 0, 0, 0.9)), url('../images/9.jpg');
    background-position: center;
    background-size: cover;
}

/* swiper css */
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sis {
    height: 450px;
    background: linear-gradient(180deg, rgba(150, 0, 0, 0.6), rgba(150, 0, 0, 0.4)), url('../images/9.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bi {
    height: 100px;
    width: 100px;
    border: 1px solid maroon;
    border-radius: 50%;
    color: maroon;
    /* text-align: center; */

}

.bi:hover {
    background-color: rgb(211, 239, 239);
}

.smi_footer {
    height: 40px;
    width: 40px;
    /* border: 1px solid maroon; */
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    font-size: 20px;
    margin-right: 10px;
    background-color: white;
    /* color: maroon; */
}

.padding_link {
    text-align: left;
    padding-left: 0px;

}

.imp_link {
    text-decoration: none;
    color: white;
}

.imp_link:hover {
    color: rgb(255, 234, 0);
}

.list_style {
    list-style-type: none;
    padding: 0px;
    line-height: 36px;
}

.un a:hover{
color:green;
}

.bg-dark_maroon {
    background-color: rgb(99, 7, 7);
}

.bshadow {
    box-shadow: 5px 5px 10px grey;
}

.ishadow {
    box-shadow: 5px 5px 10px grey;
}

.bshadow:hover {
    box-shadow: 5px 5px 10px lightgrey;
}

.box {
    height: 260px;
    max-width: 400px;
    overflow: hidden;

}

.box img {
    height: 100%;
    transition: 0.4s ease-in;
}

.icon {
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
    color: white;
    display: none;

}

.box:hover img {
    transform: scale(1.1);
    opacity: 0.7;
}

.box:hover .icon {
    display: block;
}

.btne {
    position: fixed;
    top: 250px;
    transform: rotate(90deg);
    left: -60px;
    animation: blink 2s infinite;
}
.btna {
    position: fixed;
    top: 550px;
    transform: rotate(-90deg);
    right: -70px;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {}

    25% {
        background-color: maroon;
        color: white;
    }

    50% {
        background-color: rgb(255, 200, 0);
        color: maroon;
    }

    75% {
        background-color: maroon;
        color: white;
    }

    100% {
        background-color: rgb(255, 200, 0);
        color: maroon;
    }
}
.btn-arrow{
    position: fixed;
    bottom: 20px;
    right: 30px;
}
.dropdown-item{
    color: white;
    background-color: maroon;
}
.dropdown-item:hover{
    background-color: maroon;
    color: green;
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color:green;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

marquee:hover{
    color:green;
}
marquee a:hover{
    color:green;
}
.disk::before{

}

